* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: DejaVu Sans, FontAwesome, Roboto, Helvetica, Arial, Symbols Nerd Font, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(46, 42, 49, 0.9);
    color: #bcbabe;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 1px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background-color: #383739;
}

#workspaces button.active,
#workspaces button.focused {
    background-color: #443446;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #68406f;
}

#clock,
#battery,
#network,
#pulseaudio,
#mode,
#scratchpad {
    padding: 0 10px;
    color: #ffffff;
}

#tray {
    padding: 0 5px;
    color: #ffffff;
}

#custom-snooze,
#idle_inhibitor {
    padding: 0 5px;
    color: #ffffff;
}

#window,
#workspaces {
    margin: 0 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #2E1631;
}

#battery {
    background-color: #3D2B40;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network {
    background-color: #443446;
}

#network.disconnected {
    padding: 0 10px;
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #4A3C4C;
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: #3F4C3C;
    color: #b2b7b1;
}

#tray {
    background-color: #27132A;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-snooze,
#idle_inhibitor {
    background-color: #4F4351;
}

#custom-snooze.activated,
#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}
